<header>
    <div class="container grid-middle-noGutter-spaceBetween">
        <a href="/" title="The Fatherhood">
            <img src="/img/fatherhood_logo_on-white.png" alt="The Fatherhood Logo"/>
        </a>
        <nav>
            <a href="/" title="Home">The Experience</a>
            <a href="/#packages" title="Packages">Packages</a>
            <a href="/about" title="About The Fatherhood">About</a>
            <a class="header-contact" href="/contact" title="Contact The Fatherood">Contact</a>
            <a class="header-social" href="https://www.instagram.com/terry_williams/?hl=en" title="Check out The Fatherhood pictures on Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="header-social" href="" title="See more of The Fatherhood experiences on Pinterest">
                <i class="fab fa-pinterest"></i>
            </a>
            <a class="header-social" href="mailto:info@thefatherhood.co" title="Questions? Just send us an email :)">
                <i class="fas fa-envelope"></i>
            </a>
            <a class="header-hamburger toggle-mobile-menu" title="Navigation">
                <i class="fas fa-bars fa-2x"></i>
            </a>
        </nav>
    </div>
</header>