<div id="mobile-menu" class="grid-center-middle-noGutter-noBottom">
    <figure class="toggle-mobile-menu">
        <i class="fas fa-times"></i>
    </figure>
    <nav class="col-6">
        <a class="mobile-menu-logo" href="/" title="The Fatherhood"><img src="/img/fatherhood_logo_on-black.png" alt="The Fatherhood Logo"/></a>
        <a href="/" title="Home"><span>Home</span></a>
        <a href="the-experience" title="The Experience"><span>The Experience</span></a>
        <a href="packages" title="Packages"><span>Packages</span></a>
        <a href="about" title="About The Fatherhood"><span>About</span></a>
        <a href="contact" title="Contact The Fatherood"><span>Contact</span></a>
    </nav>
</div>