/* General Styles*/
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

img{
max-width:100%;
}

body{
  /*Font family for entire web page*/
  line-height: 22px;
overflow-x: hidden;
}

h1, h2, h3,h4,h5,h6{ /*sets all heading fonts*/
  font-family: 'Oswald', sans-serif;
  letter-spacing: 4px;
  text-align: center;
}
h1 {
  font-size: 60px;
  color: white;
}

h3 {
  margin: 14px;
}

p{ /* sets all paragraph fonts*/
font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none; /*removes underline from anchor links*/
  font-family: 'Roboto', sans-serif;
}
span {
font-family: 'Roboto', sans-serif;
}
/* Header Styles*/
#hero {
  min-height: 92vh;
  background-image: url("../images/Surfingdad.jpg");
background-position: center;
background-size: cover;
}

#hero H3 {
color: white;
margin: 30px;
}

header{
 padding-left:50px;
 padding-right:60px;

 /* shorthand css */
 margin:0 auto;


 /* longhand css */
 margin-top: 0;
 margin-right: auto;
 margin-bottom: 0;
 margin-left: auto;

}
header img{
  width: 90px;
}
nav{
text-align: right;
font-size: 15px;
}

nav a{
padding-left:20px;
padding-right:15px;
color:black;
display: inline-block;

}

#hamburger {
  display: none;
}

#mobile-nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  visibility: hidden;
}

#mobile-nav a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
nav i.fa-times{
  color: #fff;
  /* white x icon */
}

#contacts a{
  padding: 2px;
  display:inline-block;

}
/* Section 2*/
.two section{
  padding: 20%;
}
#deal {
  text-align:center;
  padding: 40px 20px;
  padding-bottom: 45px;
  background-color: #E7E7E7;
  margin: 80px 200px;
  margin-bottom: 60px;
  line-height: 27px;
  font-size: 17px;
  display: block;
}
#deal h2 {
margin:30px;
font-size: 28px;
}

#image2 {
  min-height: 92vh;
  background-image: url("../images/teamsurf.jpg");
background-position: center;
background-size: cover;
margin-top: 80px;
margin-bottom: 120px;
}

#info {
  text-align: center;

}
#image3 {
  min-height: 92vh;
  background-image: url("../images/beachsunset.jpg");
background-position: center;
background-size: cover;
margin-top: 120px;
margin-bottom: 80px;
}

/* Section 3*/
#bottom {
  text-align:center;
  padding: 80px 20px;
  background-color: #E7E7E7;
  margin: 70px 200px;
  margin-top: 60px;
  font-size: 17px;
  line-height: 27px;
}

#socials {
text-align: center;
margin-top: 50px;
}
#socials p{
  margin-bottom: 20px;
}
#socials h2 {
  margin-bottom: 10px;

}
/* Footer styles*/
footer nav{
  text-align:center;
  padding-bottom:15px;

}

footer {
  margin-top: 25px;

}

footer p{
  text-align: center;
  margin: 15px;
}

footer nav a {
  padding: 10px
}

/* blog page CSS*/
#bloghero {
min-height: 52vh;
background-image: url("../images/JBSlide.png");
background-position: center;
background-size: cover;
color: white;
font-size: 20px;
}

#bloghero img {
  width:100%;
  padding:20px 20px;

}

#blog img {
  width:100%;
  padding:0 40px;
  margin:20px 0px;
}

#blog p  {
margin:20px;
margin-top: 30px;

}

#blog {
  margin: 40px;
}

#contacthero {
min-height: 52vh;
background-image: url("../images/JBKick.png");
background-position: center;
background-size: cover;
color: white;
font-size: 20px;
}

#contacthero img {
  width:100%;
  padding:20px 20px;
}

#form h3 {
  margin-top: 30px;
}

input, textarea{
    width: 80%;
    padding: 10px 20px;
    margin: 40px auto;
    box-sizing: border-box;
    display: block;
}

button {
  width: 40%;
  padding: 12px 20px;
  margin: 30px auto;
  margin-bottom: 100px;
  box-sizing: border-box;
  display: block;
}

#poster h2{
  margin-top: 30px;
  margin-bottom: 60px;
}

#poster p{
  text-align: center;

}

#poster img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/*Responsive Styles*/

@media all and (max-width:840px){
  #hero {
    min-height: 40vh;
  }

  h1{
    font-size: 30px;
  }
}

@media all and (max-width:950px){
#contacts {
  display:none;
}

#home {
  margin-right: 60px;
}

#navigation{
  display:none;
}

header {
  padding-left: 30px;
  padding-right: 4px;
}

#hamburger{
  display:block;
  }
}

@media all and (max-width:840px){
  #deal, #bottom {
  padding: 50px 0px;
  margin: 50px 30px;
}

#navigation {
  display: none;
}

}

@media all and (max-width:450px){
#latest img {
  padding: 5px;
}
#latest p {
  padding:5px;
}
}

@media all and (max-width:450px){
#blog img {
  padding: 0px;
}
#blog p {
  padding: 0px;
  margin: 0px;
}
}
